/*
#1 = b52626
#2 = b74545
*/
a {
    color: #b52626;
}

a:hover {
    color: #b74545;
}

/* menu */
.nav > li > a:hover {
    color: #b74545;
}

.navbar .navbar-nav > .active > a {
    color: #b74545;
}

/* flexslider */
.flex-control-paging li a {
    background: #b52626;
}

.flex-direction-nav a:hover {
    background-color: #b52626;
}

.testimonial span.author a {
    color: #b74545;
}

/* --- icon box hover --- */
.hi-icon-effect-5 .hi-icon {
    color: #b52626;
    box-shadow: 0 0 0 4px #b52626;
}

.no-touch .hi-icon-effect-5 .hi-icon:hover {
    background: #b52626;
    box-shadow: 0 0 0 8px  #b74545;
}

/* portfolio */
.portfolio-item .portfolio-desc {
    background: #b52626;
}

/* btn */
.btn-theme {
    background: #b74545;
}

.btn-theme:hover, .btn-theme:focus, .btn-theme:active {
    background: #b52626;
}

.btn-cta, .btn-cta.btn-lg {
    background: #b52626;
    border-color: #b74545;
}

.btn-cta:focus, .btn-cta:active {
    border-color: #b52626;
}

/* contact */
.validation {
    color: red;
}

/* footer */
.social-circle li a {
    background: #b52626;
}

a.scrollup {
    background: #b52626;
}

#sendmessage {
    color: green;
}

#errormessage {
    color: red;
}